<headerbar>
  <span title>{{title}}</span>
</headerbar>
<br>
<div fxLayout="row">
<div fxFlexOffset="5%" fxFlex="45%">
  <mat-tab-group dynamicHeight="true">
    <mat-tab label="Template">
      <br>
      <div fxLayout="row">
        <div fxFlex="49%">
          <mat-form-field class="pricesmart-full-width">
            <input matInput [(ngModel)]="model.date" name="currentdate" [matDatepicker]="currentDatepicker" placeholder="Date of Sale">
            <mat-datepicker-toggle matSuffix [for]="currentDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #currentDatepicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="pricesmart-full-width">
            <input [(ngModel)]="model.name" name="name" matInput placeholder="Agent Name" >
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row">
        <div fxFlex="49%">
          <mat-form-field class="pricesmart-full-width">
            <input [(ngModel)]="model.card" name="card" matInput placeholder="Pricesmart Card" >
          </mat-form-field>
        </div>
        <div fxFlexOffset="2%" fxFlex="49%">
          <mat-form-field class="pricesmart-full-width">
            <input [(ngModel)]="model.discount" name="discount" matInput placeholder="Discount" >
          </mat-form-field>
        </div>
      </div>
    <!-- </div> -->
    </mat-tab>
    <mat-tab label="Information">
        <div class="pricesmart-tab-content">
          <p>Case Title- PSMART.DISC</p>
          <p>Case Type: Pricesmart</p>
        </div>
    </mat-tab>
  </mat-tab-group>
</div>
<div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="pricesmart-full-width">
          <textarea #pricesmart matInput matTextareaAutosize readonly>Date of Sale: {{model.date | date: 'mediumDate'}}

Field Agent Name: {{model.name}}

Pricesmart Card: {{model.card}}

Discount: {{model.discount}}
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='pricesmart'>COPY</button>
        <button mat-button (click)="reset()">CLEAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
