<headerbar>
  <span title>{{title}}</span>
</headerbar>
<br>
<div fxLayout="row">
  <div fxFlexOffset="5%" fxFlex="45%">

  </div>
  <div fxFlexOffset="5%" fxFlex="44%">
    <mat-card>
      <mat-card-title>{{title}} Template Preview</mat-card-title>
      <mat-card-content>
        <mat-form-field class="billing-full-width">
          <textarea #billing matInput matTextareaAutosize readonly>Total Outstanding Amount (Tableau): 

Amount Due: 

Bill Cycle: 

Account Number Requested: 

I.D. Verified: 

Additional Comments:
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [ngxClipboard]='billing'>COPY</button>
        <button mat-button (click)='reset()'>CLEAR</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>