<headerbar>
  <span title>Sales Dashboard</span>
</headerbar>
<br>
<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 class="mat-display-2">Welcome to the Sales Dashboard</h1>
  </div>

  <div fxLayout="row" fxLayoutAlign="center" fxFlex="80%">
    <div fxLayout="row" >
      <mat-card>
        <mat-card-title>Applications</mat-card-title>
        <mat-nav-list>
          <a mat-list-item href="https://mx.mcl.local/SOGo/so" target="_blank"> <mat-icon matListIcon>mail</mat-icon>EMAIL</a>
          <a mat-list-item href="http://mcl-vm2-crm/MassyCommunicationsLtd/main.aspx#849628433" target="_blank"><mat-icon matListIcon>contacts</mat-icon>CRM</a>
          <a mat-list-item href="https://garfield.massycommunications.com/MCL_610/getPhoneNumber/1" target="_blank"><mat-icon matListIcon>call</mat-icon> GARFIELD</a>
          <a mat-list-item href="https://citrix-access.tstt.co.tt/" target="_blank"><mat-icon matListIcon>vpn_key</mat-icon> TSTT CITRIX</a>
          <a mat-list-item href="http://192.168.55.87/#/views/MobilePromotion-ProductDetailsPenaltyCalculator/Amplia-TSTTMobilePromotion" target="_blank"><mat-icon matListIcon>assignment</mat-icon>TERMINATION CALCULATOR</a>
        </mat-nav-list>
      </mat-card>
    </div>
    <div fxLayout="row" fxFlexOffset="2%">
      <mat-card>
        <mat-card-title>Utilities</mat-card-title>
        <mat-nav-list>
          <a mat-list-item href="https://ampliatt.sharepoint.com/sites/AmpliaCommunicationLtd/Shared%20Documents/Forms/AllItems.aspx?e=5%3Abd024a87bfb14b8e9058b13d23f5b030&FolderCTID=0x012000BC8FD3D1ED66BD4184464BB8F7966D36&id=%2Fsites%2FAmpliaCommunicationLtd%2FShared%20Documents%2FSales%2FSales%20Teams%2FTele%20Sales%2FAgents" target="_blank"> <mat-icon matListIcon>folder</mat-icon>TELE SALES FOLDER</a>
          <a mat-list-item href="https://ampliatt.sharepoint.com/sites/AmpliaCommunicationLtd/Shared%20Documents/Forms/AllItems.aspx?e=5%3Abd024a87bfb14b8e9058b13d23f5b030&FolderCTID=0x012000BC8FD3D1ED66BD4184464BB8F7966D36&id=%2Fsites%2FAmpliaCommunicationLtd%2FShared%20Documents%2FSales%2FSales%20Teams%2FProduct%20Information%2FERICKSON%20FIBER%20LISTING" target="_blank"><mat-icon matListIcon>insert_drive_file</mat-icon>TSTT FIBER LISTING</a>
          <a mat-list-item href="https://ampliatt.sharepoint.com/sites/AmpliaCommunicationLtd/Shared%20Documents/Forms/AllItems.aspx?e=5%3Abd024a87bfb14b8e9058b13d23f5b030&FolderCTID=0x012000BC8FD3D1ED66BD4184464BB8F7966D36&id=%2Fsites%2FAmpliaCommunicationLtd%2FShared%20Documents%2FSales%2FSales%20Teams%2FProduct%20Information" target="_blank"><mat-icon matListIcon>folder</mat-icon>PRODUCT UPDATES FOLDER</a>
          <a mat-list-item href="https://ampliatt.sharepoint.com/sites/AmpliaCommunicationLtd/Shared%20Documents/Forms/AllItems.aspx?e=5%3Abd024a87bfb14b8e9058b13d23f5b030&FolderCTID=0x012000BC8FD3D1ED66BD4184464BB8F7966D36&id=%2Fsites%2FAmpliaCommunicationLtd%2FShared%20Documents%2FSales%2FSales%20Teams%2FProduct%20Information%2FPOSTAL%20CODES%20AND%20STREET%20NAMES" target="_blank"><mat-icon matListIcon>folder</mat-icon>POSTAL CODES AND STREET NAMES FOLDER</a>
          <a mat-list-item href="http://192.168.55.87/#/views/ProductCatalogue/RESPRODCATALOGUE" target="_blank"><mat-icon matListIcon>assignment</mat-icon>PRODUCT CATALOGUE</a>
        </mat-nav-list>
      </mat-card>
    </div>
    <div fxLayout="row" fxFlexOffset="2%">
      <mat-card>
        <mat-card-title>Maps</mat-card-title>
        <mat-nav-list>
          <a mat-list-item href="https://www.google.com/maps/d/viewer?mid=1XII2dGmmObI_xvcXV2ARWTvPuaY" target="_blank"> <mat-icon matListIcon>map</mat-icon>FEEDER MAP</a>
          <a mat-list-item href="https://www.openstreetmap.org/#map=10/10.4480/-61.4355" target="_blank"><mat-icon matListIcon>map</mat-icon>OPEN STREET MAPS</a>
          <a mat-list-item href="https://www.google.com/maps/d/u/0/viewer?mid=1FjSB2T6KufyHo8q29pph27_B8jM&hl=en" target="_blank"><mat-icon matListIcon>map</mat-icon>SUREPAY MAP</a>
          <a mat-list-item href="https://www.waze.com/livemap" target="_blank"><mat-icon matListIcon>map</mat-icon>WAZE</a>
        </mat-nav-list>
      </mat-card>
    </div>
  </div>
  <footer>
    <div fxLayout="row" fxLayoutAlign="center" fxFlex="80%">
      <mat-card>
        <p align="center">Created By: Nicholas De Souza</p>
        <!-- <p>Technical Support Professional</p>
        <p align="center">EXT: 2466</p> -->
      </mat-card>
    </div>      
  </footer>  
</div>